<h2>Die NOT-ToDo-Liste</h2>

<div class="row">
	<div class="col-3">
		<ul class="list-group">
			{{#each this.bullshit.tags as |tag|}}
				<li class="list-group-item list-group-item-action {{if (eq this.tag tag) 'active'}}" {{action 'filterTag' tag}}>
					{{t (concat 'bullshit-bingo.tags.' tag)}}
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="col-9">
		{{#each this.principles as |principle|}}
			{{!-- <h3 id="cat-{{cat}}">{{t (concat 'bullshit-bingo.categories.' cat)}}</h3> --}}
			{{!-- {{#each (filter-by 'category' cat bullshit.all) as |fact|}} --}}
				<Principle @principle={{principle}} class="mb-3"/>
			{{!-- {{/each}} --}}
		{{/each}}
	</div>
</div>